
AnchorPane {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, rgba(13, 24, 177, 0.849), rgb(60, 190, 241));
}
.scoreLabel {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-color: black;
    -fx-font-weight: bold;
    -fx-border-color: white;
}
.rectangle {
    -fx-fill: white;
    -fx-opacity: 0.7;
    -fx-background-radius: 15;
}
#circle1 {
    -fx-fill: white;
    -fx-opacity: 0.5;
}
#rectangle1 {
    -fx-fill: white;
    -fx-opacity: 0.7;
    -fx-background-radius: 1000;
}
#gameOver{
    -fx-display: none;
}
#gameOverLabel{
    -fx-text-fill: white;
    -fx-font-size: 200%;
    -fx-font-weight: bold;
    -fx-display: flex;
    -fx-alignment: center;
}